*{
    scroll-behavior: smooth;
}
body {
    font-family: 'Pacifico', cursive;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #694d41;
    color: rgb(246, 238, 238);
    padding: 15px;
    text-align: center;
    position: relative;
}

h1{
    font-size: 2.5em;
}


h3{
    font-size: 2.5em;
}


nav a:hover {
    color: #080117; /* Change color on hover (optional) */
}

.logo img {
    position: absolute;
    top: 10px;
    left: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    padding-bottom: 50px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #694d41;
    color: white;
}

.gallery h3 {
    text-align: center; /* Centers the title text */
    margin-top: 20px; /* Adds space above the title */
    margin-bottom: 10px; /* Adds space below the title */
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px; /* Adds space below each image */
}

.gallery img {
    display: block;
    margin: 0 auto; /* Centers each image within the gallery */
    max-width: 100%; /* Ensures images fit within the container */
    height: auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 30px; /* Adds space above the footer */
    position: relative;
    width: 100%;
    bottom: 0;
}

.social-media {
    margin-top: 10px; /* Adds space above the icons */
}

.social-media a {
    color: white; /* Standard color */
    text-decoration: none; /* No underline */
    margin: 0 10px; /* Space between icons */
}

.social-media a:hover {
    color: #984833; /* Change color on hover (optional) */
}

.social-media img {
    vertical-align: middle; /* Aligns icons nicely */
    width: 30px; /* Set width for icons */
    height: auto; /* Maintain aspect ratio */
}
